<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
<body>
  {{ partial "hero.html" . }}

  <!-- ABOUT SECTION-->
  {{ if site.Data.homepage.story.enable }}
  <!-- <section id="myStory" class="section has-background-white" style="margin-top: 5%;"> -->
  <section id="myStory" class="section has-background-white" style="margin-top: 8%;">
    <div class="container">
      <div class="heading has-text-black has-text-centered">
          <h1 class="title">{{ site.Data.homepage.story.title }}</h1>
      </div>
      {{ with site.Data.homepage.story }}
      <div class="container has-text-left">
        <p class="has-text-black is-size-5 about-me">
          {{ .content }}
        </p>
      </div>
      {{ end }}
      <br></br>
      <div class="container has-text-centered">
        <a class="button is-link" href="{{ site.Params.aboutPage | absURL }}">Get to know me!</a>
      </div>
    </div>
  </section>
  {{ end }}

  <!-- RECENT PROJECTS SECTION -->
  {{ with site.Data.homepage.projects}}
  {{ $projectPages := where site.RegularPages "Type" "in" site.Params.projectsSection }}
  {{ if and ( site.Data.homepage.blog.enable ) ( site.Data.homepage.projects.enable ) }}
  {{ $dotbg := "dot-bg"  }}
  {{ else }}
  {{ $dotbg := "" }}
  <section id="projects" class="section has-background-white {{ $dotbg }} ">
  {{ end }}
  <!-- <section id="projects" class="section has-background-white"> -->
      <div class="container">
      <div class="heading has-text-black has-text-centered" style="margin-bottom: 5rem; margin-top: 5rem;">
        <h1 class="title">{{ .title | markdownify }}</h1>
      </div>
      <div class="columns">
        {{ range first 3 $projectPages }}
        {{ .Render "project" }}
        {{ end }}
      </div>
      <div class="container is-centered" style="margin-top: 5rem;">
        <div class="buttons is-centered">
          <a class="button is-link has-text-centered">More Projects</a>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
  
  <!-- RECENT BLOG POSTS SECTION -->
  {{ with site.Data.homepage.blog}}
  {{ $blogPages := where site.RegularPages "Type" "in" site.Params.blogSection }}
  {{ if .enable}}
  <section id="posts" class="section has-background-white">
    <div class="container">
      <div class="heading has-text-black has-text-centered" style="margin-bottom: 5rem; margin-top: 5rem; ">
        <h1 class="title">{{ .title | markdownify }}</h1>
      </div>
      <div class="columns">
        {{ range first 3 $blogPages }}
        {{ .Render "post" }}
        {{ end }}
      </div>
    </div>
  </section>
  {{ end }}
  {{ end }}

<!-- CONTACT ME SECTION -->
  {{ partial "contact.html" }}

</body>
  {{ partial "footer.html" . }}
</html>