<section id="contact" class="section has-background-white curved-dot-bg" style="margin-bottom: 1rem;">
    <div class="container">
      <div class="heading has-text-black has-text-centered" style="margin-bottom: 5rem;">
        <h1 class="title">Reach Out!</h1>
      </div>
      <div class="columns is-centered">
        <div class="column is-half">
          <div class="card">
            <form action="{{ site.Params.contact.form_action }}" method="POST" class="card-content">
              <div class="field">
                <label class="label">Name<strong class="has-text-danger">*</strong></label>
                <div class="control">
                  <input class="input" type="text" placeholder="Eg. John Doe">
                </div>
              </div>
              <div class="field">
                <label class="label">Email<strong class="has-text-danger">*</strong></label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="email" placeholder="Eg. johndoe@gmail.com" />
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                </div>
                <div class="field">
                  <label class="label">Why you're reaching out, select one.<strong class="has-text-danger">*</strong></label>
                  <div class="control">
                    <div class="select">
                      <select value="Subject">
                        <option name="Say Hi">Say Hi</option>
                        <option name="Collaborate">Collaborate</option>
                        <option name="Mentorship">Mentorship</option>
                        <option name="Job">Job Position</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="field">
                    <label class="label">Message<strong class="has-text-danger">*</strong></label>
                    <div class="control">
                        <textarea class="textarea" placeholder="Your message!"></textarea>
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <input type="submit" value="Send Message!" class="button is-link" />
                    </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>