<header>
    <nav class="navbar is-dark " role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ site.BaseURL }}">
                {{ if site.Params.logo }}
                <img src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }} logo" width="130" height="45" />
                {{ else }}
                <h3 class="text-black">{{site.Title}}</h3>
                {{ end }}
            </a>
            <a role="button" class="navbar-burger nav-toggle" for="nav-toggle-state" aria-label="menu" aria-expanded="false" data-target="myNavbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <input type="checkbox" id="nav-toggle-state" />
        <div id="myNavbar" class="navbar-menu has-text-white has-background-dark">
            <div class="navbar-end is-dark">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                <a class="has-text-white has-background-dark navbar-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL | absURL }}" title="{{ .Title }}">{{ .Name }}</a>
                {{ end }}
            </div>
        </div>
    </nav>
</header>
