<!DOCTYPE html>
<html lang="en">
<section class="hero hero-image is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container">
            <h1 class="title has-text-black">Hey, I'm Adriel!</h1>
            <h1 class="title has-text-black">I love to solve problems using;</h1>
            <h1 class="title has-text-black">strategy, design, and code.</h1>
            <div id="typed-strings">
                <h1 class="title has-text-black">I'm a Husband.</h1>
                <h1 class="title has-text-black">I'm a Dad.</h1>
                <h1 class="title has-text-black">I'm a Developer.</h1>
                <h1 class="title has-text-black">I'm a Designer.</h1>
                <h1 class="title has-text-black">I'm an Entrepreneur.</h1>
                <h1 class="title has-text-black">I'm a Part 107 Pilot.</h1> 
                <h1 class="title has-text-black">It's nice to meet you! <a class="button is-link is-medium" asp-area="" asp-controller="Home" asp-action="Contact">Get in touch.</a></h1>
            </div>
            <span id="typed" class="title has-text-black"></span>
        </div>
    </div>
    <div class="hero-foot">
        <div class="columns is-mobile is-centered">
        </div>
        <div class="columns is-mobile is-centered is-paddingless is-marginless">
            <div class="column is-narrow">
                <span class="icon is-large has-text-link">
                    <a href="#myStory"><i class="fas fa-2x fa-angle-double-down hero-ic"></i></a>
                </span>
            </div>
        </div>
    </div>
</section>   
</html>