<!-- HERO SECTION -->
<section class="hero is-fullheight is-dark ">
    <nav class="navbar hero-head " role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ site.BaseURL }}">
                {{ if site.Params.logo }}
                <img src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }} logo" width="130" height="auto" />
                {{ else }}
                <h3 class="text-black">{{site.Title}}</h3>
                {{ end }}
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="myNavbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="myNavbar" class="navbar-menu">
            <div class="navbar-end">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                <a class="has-text-white navbar-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
                {{ end }}
            </div>
        </div>
    </nav>
    <div class="hero-body">
        <div class="container has-text-centered">
            <img src="images/avatar.png" />
            <br></br>
            <h1 class="title has-text-light">Hey, I'm {{ site.Params.first_name}}!</h1>
            <div id="typed-strings">
                <h1>{{ site.Params.position }}</h1>
            </div>
            <span id="typed" class="subtitle has-text-light"></span>
        </div>
    </div>
    <div class="hero-foot float">
        <div class="columns is-mobile is-centered ">
        </div>
        <div class="columns is-mobile is-centered is-paddingless is-marginless ">
            <div class="column is-narrow " id="">
                <span class="icon is-large has-text-link ">
                    <a href="#myStory"><i class="fas fa-2x fa-angle-double-down "></i></a>
                </span>
            </div>
        </div>
    </div>
</section>
