<div class="column">
    <div class="card cd-img">
        <div class="card-header-title is-centered">
            <h2 class="title has-text-black"> {{ .Title }}</h2>
        </div>
        <!-- <div class="card-image">
            <figure class="image is-4by3">
                <img src="{{ .Params.Image | relURL }}" alt="{{ .Title }}">
            </figure>
        </div> -->
        <div class="card-content"> 
            <p>
                {{ .Summary | markdownify }}
            </p>
        </div>
        <div class="has-text-centered" style="padding-bottom: 2rem;">
            <a class="button is-link" href="{{ .Permalink }}">View Project</a>
        </div>
    </div>
</div>