@charset "utf-8";
 nav-toggle
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://use.typekit.net/ojp1vxz.css');

$ap-blue: #22496B;
$ap-orange: #F77D29;
$ap-grey: #696868;
$ap-black: #111111;
$ap-white: #ffffff;
$ap-offwhite: #C0C0C0;


$family-sans-serif: "acumin-pro", sans-serif;
$grey-dark: $ap-grey;
$grey-light: $ap-white;
$grey-lighter: $ap-offwhite;
$primary: $ap-blue;
$link: $ap-orange;
$widescreen-enabled: false;
$fullhd-enabled: false;

$radius-rounded: .7rem;

$body-background-color: $ap-white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$navbar-burger-color: $ap-white;
$navbar-height: 4rem;
$navbar-padding-horizontal: 4rem;

$input-border-color: $ap-offwhite;
$input-hover-border-color: $ap-offwhite;

$footer-background-color: #363636;
$gap: 64px;

// smooth scrolling
html {
    scroll-behavior: smooth;
}


// about me container
.about-me {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.cd-img {
    transition: transform .3s;
}

.cd-img:hover {
    transform: scale(1.10);
}

.dot-bg {
    background-image: url(../../images/backgrounds/bg-dots.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.hover-wrapper {
    overflow: hidden
}

.hover-wrapper img {
    transition: .3s ease;
    transform: scale(1.0)
}

.hover-wrapper:hover img {
    transform: scale(1)
}

.hover-wrapper:hover .hover-overlay {
    opacity: 1;
    visibility: visible
}

.hover-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .3);
    opacity: 0;
    visibility: hidden;
    transition: .3s ease
}

.hover-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    text-align: center
}



@media only screen and (min-width: 1024px ) {
    .is-pulled-ups {
        margin-top: -5rem;
    }
}

.v-line {
    border-left: 3px solid $link;
    height: 100px;
    position: relative;
    left: 50%;
}

.curved-dot-bg {
    background-image: url(../../images/backgrounds/curves-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

//css menu

#nav-toggle-state {
    display: none;
}

#nav-toggle-state:checked ~ .navbar-menu {
    display: block;
}

//arrow floating
.float {
    animation: float 4s ease-in-out 0.5s infinite;
    -webkit-animation: float 4s ease-in-out 0.5s infinite;
    
}
@-webkit-keyframes float {
    0%, 100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-35px);
                transform: translateY(-35px);
    }
}
@keyframes float {
    0%, 100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-35px);
                transform: translateY(-35px);
    }
}

//slide in
.slide-in-bottom {
	-webkit-animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
	        animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}
 @-webkit-keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
  
@import "bulma.sass"
