<!-- ABOUT PAGE -->
{{ partial "head.html" . }}
<section class="hero is-medium is-dark">
  <nav class="navbar hero-head " role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ site.BaseURL }}">
            {{ if site.Params.logo }}
            <img src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }} logo" width="130" height="auto" />
            {{ else }}
            <h3 class="text-black">{{site.Title}}</h3>
            {{ end }}
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="myNavbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="myNavbar" class="navbar-menu">
        <div class="navbar-end">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            <a class="has-text-white navbar-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
            {{ end }}
        </div>
    </div>
  </nav>
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-5">
          <br></br>
          <p class="title has-text-light">{{ site.Data.about.intro.content_title }}</p>
          <br>
          <p class="subtitle has-text-light">{{ site.Data.about.intro.content_position }}</p>
          <br>
          <p class="subtitle has-text-light">{{ site.Data.about.intro.content_quirk | safeHTML }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container mb-6">
    <div class="columns">
      <div class="column is-5" style="margin-bottom: 25rem;">
      </div>
      <div class="column is-relative" style="margin-top: -25rem;">
        <div class="box">
          <figure class="image">
          <img class="is-rounded" src="{{ site.Params.authorPhoto | absURL }}"/>
          </figure>          
        </div>
        
        <!-- <div class="columns is-centered">
          <div class="column is-half image is-3by1" style="margin-top: 2rem;">
            <img src="{{ site.Params.darkLogo | absURL }}" alt="{{ site.Title }} logo"  />
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <div class="container float">
    <div class="columns is-mobile is-centered ">
    </div>
    <div class="columns is-mobile is-centered is-paddingless is-marginless ">
        <div class="column is-narrow " id="">
            <span class="icon is-large has-text-link ">
                <a href="#social"><i class="fas fa-2x fa-angle-double-down "></i></a>
            </span>
        </div>
    </div>
  </div>
</section>
<section class="section is-relative has-background-white is-pulled-up">
  <div class="columns is-centered mt-6">
    <div class="column is-half">
      <h1 id="social" class="title has-text-black has-text-centered is-size-4">I spend a lot of my social time working on my YouTube channel
        and sharing content on LinkedIn. Connect with me there!
      </h1>
    </div>
  </div>
  <div class="columns is-centered">
    <div class="column has-text-centered is-narrow ">
      <a class="button is-link" href="{{ site.Params.youtube | absURL }}">YouTube</a>
    </div>
    <div class="column has-text-centered is-narrow ">
      <a class="button is-link" href="{{ site.Params.linkedin| absURL }}">LinkedIn</a>
    </div>
  </div>
  <div class="columns is-centered">
    <div class="column has-text-centered is-half">
      <div class="has-text-centered is-narrow v-line"></div>
    </div>
  </div>
</section>

<section class="section is-relative has-background-dark pb-8">
  <div class="container mt-6">
    <h1 id="social" class="title has-text-white has-text-centered mb-6">{{ site.Data.about.info.title }}</h1>
  </div>
  <div class="columns">
    <div class="column is-6">
      <div class="box">
        <div class="content has-text-center has-text-black is-size-5">
          {{ site.Data.about.info.content_one}}
        </div>
      </div>
    </div>
    <div class="column is-6">
      <div class="box">
        <div class="content has-text-center has-text-black is-size-5">
          {{ site.Data.about.info.content_two}}<br><br><br>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  
  <div class="container mt-6">
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="box">
          <div class="content has-text-center has-text-black is-size-5">
            {{ site.Data.about.info.content_three}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ partial "contact.html" }}
{{ partial "footer.html" }}