<!DOCTYPE html>
<html lang=" {{ with site.LanguageCode }} {{ . }} {{ else }} en-US {{ end }} ">
<!-- PROJECTS PAGE -->
{{ partial "head.html" . }}
<section class="hero is-medium is-dark">
    <nav class="navbar hero-head " role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
          <a class="navbar-item" href="{{ site.BaseURL }}">
              {{ if site.Params.logo }}
              <img src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }} logo" width="130" height="auto" />
              {{ else }}
              <h3 class="text-black">{{site.Title}}</h3>
              {{ end }}
          </a>
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="myNavbar">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
          </a>
      </div>
      <div id="myNavbar" class="navbar-menu">
          <div class="navbar-end">
              {{ $currentPage := . }}
              {{ range .Site.Menus.main }}
              <a class="has-text-white navbar-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
              {{ end }}
          </div>
      </div>
    </nav>
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-6 is-offset-1">
            <p class="title has-text-light">{{ .Title}}</p>
          </div>
        </div>
        <div class="columns is-centered mt-1">
            <div class="is-half fa-4x">
                <i class="fas fa-laptop-code"></i>
                <i class="fab fa-galactic-republic"></i>
                <i class="fab fa-python"></i>
                <i class="fas fa-coffee"></i>
            </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="columns is-multiline ">
        {{ range .Data.Pages }}
        <div class="column is-one-third">
        {{ .Render "project" }}
        </div>
        {{ end }}

      </div>
    </div>
  </section>

{{ partial "contact.html" }}
{{ partial "footer.html" }}
</html>
