<!DOCTYPE html>
<html lang=" {{ with site.LanguageCode }} {{ . }} {{ else }} en-US {{ end }} ">


<!-- CONTACT PAGE -->
{{ partial "head.html" . }}
<section class="hero is-medium is-dark">
  <nav class="navbar hero-head " role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ site.BaseURL }}">
            {{ if site.Params.logo }}
            <img src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }} logo" width="130" height="auto" />
            {{ else }}
            <h3 class="text-black">{{site.Title}}</h3>
            {{ end }}
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="myNavbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="myNavbar" class="navbar-menu">
        <div class="navbar-end">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            <a class="has-text-white navbar-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
            {{ end }}
        </div>
    </div>
  </nav>
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-6 is-offset-1">
          <p class="title has-text-light">{{ .Title}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="level">
      <h1 class="title">I would love to hear from you!</h1>
      <p class="content">If you have any questions, comments, concerns, ideas, or just feel like chatting, feel free to send me a message via my contact form or anywhere on my social platforms. I love talking with other people with similar interests.</p>
    </div>
      <!-- social icons -->
      <div class="level-right columns  ">
        <div class="column">
            {{ range site.Params.social }}
            <span class="icon">
                <a class="is-link has-text-black" href="{{ .URL | safeURL }}"><i class="{{ .icon }}"></i></a>
            </span>
            {{ end }}
        </div>
    </div>
  </div>
</section>
{{ partial "contact.html" }}
{{ partial "footer.html" }}
</html>
